body{
    background-color: #17153B;
}
.navbar{
    background-color: #433D8B;
}
/* .graphBox{
    position: relative;
    width: 100%; 
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 200px;
    min-height: 200px;
} */
.card{
    position: relative;
    background-color: #fff;
    padding: 20px;
    width: 100%;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
    min-height: 200px;
}